{% block login_form %}

{% if errors %}
    <div style="color: red;">
        {% for key, error in errors %}
            {% autoescape off %}
                {{ error }}
            {% endautoescape %}
        {% endfor %}
    </div>
{% endif %}

<br>

<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}

    <label for="{{ form.name.id_for_label }}">Identifiant : </label>
    {{ login_form.username }}

    <label for="{{ form.name.id_for_label }}">Mot de passe : </label>
    {{ login_form.password }}
    
    <br>
    
    <button type="submit" class="btn btn-primary">Connexion</button>
</form>

{% endblock %}