.flex-bot-center {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.flex-row-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#mainNav .btn {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

#mainNav .btn:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
  }

header.masthead {
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("./assets/img/fond-header.jpg") !important;
}

header.resultHead {
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%);
    background-position: center !important;
    background-repeat: no-repeat !important;
    max-height: 50vh;
    min-height: unset;
    padding: 4.5rem;
}

footer {
    background-color: #df6531;    
    box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding: 1.5rem;
}
footer p {
    margin: unset;
}

.product-card {
    display: flex;
}

.product-card .card-content {
    position: relative;
    background: linear-gradient(rgba(52, 90, 97, 0.4) 0%, rgba(92, 77, 66, 0.4) 100%);
    border: solid 5px #df6531;
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.product-card .product-img {
    max-height: 60%;
}

.product-card img {
    max-width: 100%;
    max-height: 100%;
}

.product-card .nutriscore {
    position: absolute;
    max-width: 90px;
    top: -30px;
    right: -30px;
}

.hover-div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.save-div {
    position: relative;
    z-index: 15;
    cursor: pointer;
}

.product-detail-img {
    width: 100%;
}

.nutriment-entry {
    display: flex;
    justify-content: space-between;
}

